@import './../../style/mixins';

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background-color-alt);
  color: var(--copy-color-alt);
  flex-basis: var(--size-content-1);
  box-shadow: var(--shadow-3);
  flex-basis: 100%;
  overflow: hidden;

  &__headline {
    padding-inline: 1em;
    padding-top: var(--radius-2);    
    width: 100%;
    color: var(--gray-1);
    @include primary-gradient();
  }

  h2 {
    font-size: 3rem;
    display: block;
    margin-block: 0.25em 0.75em;
    font-weight: 900;
    text-transform: uppercase;
    color: currentColor;
    text-shadow:
    // -1px 1px 0 var(--gray-400),
    -6px 6px 1px var(--black-t10),
    -1px 1px 3px var(--black-t30),
    -3px 3px 5px var(--black-t20),
    -5px 5px 10px var(--black-t30),
    -10px 10px 10px var(--black-t20),
    -20px 20px 20px var(--black-t10);
  }
  
  h5 {
    font-weight: 100;
    text-transform: uppercase;
    color: currentColor;
    @include headline-decoration();
  }

  &__copy {
    padding: var(--radius-4);
  }

  a { text-decoration: none; }

  &__link-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    padding: var(--size-10) var(--size-8);
  }

  &__title {
    margin-bottom: var(--size-4);
    padding-bottom: var(--size-4);
  }

  &__top {
    display: flex;
    justify-content: center;
    padding-bottom: var(--size-8);
  }

  @include rounded;
}





