.btn {

  --button-primary-color: var(--headline-color);
  --link-visited: var(--button-primary-color);
  transform: translateY(0);
  display: flex;
  align-items: center;
  padding-inline: 1em;
  border-radius: 0.3em;
  font-size: 1.25rem;
  color: var(--button-primary-color);
  transition: 200ms all ease-in-out;
  box-shadow: none;
  outline: 0px solid transparent;

  &:hover {
    color: var(--button-primary-color);
    outline-offset: 2px;
    outline: 2px solid var(--button-primary-color);
    box-shadow: none !important;
  }
  &:active {
    transform: scale(0.96);
    background-color: var(--button-primary-color);
    color: var(--button-primary-color);
    box-shadow: none !important;
  }
  &:focus {
    color: var(--button-primary-color);
    outline-offset: 2px;
    box-shadow: none;
  }

  &-md {
    font-size: 1.75rem;
  }
  &-lg {
    font-size: 2.25rem;
  }

  &-primary {
    border-color: var(--button-primary-color);
    background-color: var(--button-primary-color);
    color: white;
    &:hover {
      border-color: var(--button-primary-color);
      background-color: var(--button-primary-color);
      color: white;
      outline-offset: 2px;
      outline: 2px solid var(--button-primary-color);
    }
    &:focus {
      border-color: var(--button-primary-color);
      border-color: var(--button-primary-color);
      background-color: var(--button-primary-color);
      color: white;
      outline: 2px solid var(--button-primary-color) !important;
    }
  }
  &-secondary {
    border-color: var(--button-primary-color);
    border-width: 2px;
    background-color: transparent;
    &:hover {
      border-color: var(--button-primary-color);
      background-color: transparent;
      outline-offset: 2px;
      outline: 2px solid var(--button-primary-color);
    }
    &:focus {
      border-color: transparent;
      background-color: var(--button-primary-color);
      color: white;
      outline: 2px solid var(--button-primary-color) !important;
    }
  }



}