.btn {

  --button-primary-color: var(--headline-color);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding-inline: 1em;
  border-radius: 0.3em;
  font-size: 1.25rem;
  color: var(--button-primary-color);
  transition: 200ms all ease-in-out;
  box-shadow: none !important;
  outline: 0px solid transparent;
  outline-offset: 2px;

  &-primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    background-image: var(--primary-gradient);
    color: white;
    &:hover {
      border-color: var(--button-primary-color);
      background-color: var(--button-primary-color);
      color: white;
      outline: 2px solid var(--button-primary-color);
    }
    &:focus {
      border-color: var(--button-primary-color);
      border-color: var(--button-primary-color);
      background-color: var(--button-primary-color);
      color: white;
      outline: 2px solid var(--button-primary-color) !important;
    }
  }
  &-secondary {
    border-color: var(--copy-color);
    border-width: 2px;
    background-color: var(--copy-color);
    color: white;
    &:hover ,
    &:focus {
      outline: 2px solid var(--copy-color);
    }
  }

  &-align-start { align-self: flex-start; }
  &-align-center { align-self: center; }
  &-align-end { align-self: flex-end; }

  &-md { font-size: 1.75rem; }
  &-lg { font-size: 2.25rem; }

}