@import './../../mixins';

.cover {
  margin-top: calc(var(--size-10) * -1);
  color: var(--white);

  & * { color: inherit; }

  &__wrapper {
    @include primary-gradient(var(--red-600));
    @include upper-clip(var(--size-10)); // parent element
  }

  &__container {
    padding-block: var(--size-10);
    display: flex;
    flex-flow: column;
    justify-content: end;
    min-height: #{"min(80vh, 900px)"};
  }

  &__headline {

    .sup {
      margin: 0;
    }

    .headline {
      font-size: clamp(7rem, 12vw, 18rem);
      text-shadow:
        -1px 1px 0 var(--gray-100),
        -2px 2px 0 var(--gray-200),
        -3px 3px 0 var(--gray-300),
        -4px 4px 0 var(--gray-400),
        -5px 5px 0 var(--gray-500),
        -6px 6px 1px var(--black-t10),
        -1px 1px 3px var(--black-t30),
        -3px 3px 5px var(--black-t20),
        -5px 5px 10px var(--black-t30),
        -10px 10px 10px var(--black-t20),
        -20px 20px 20px var(--black-t10);
    }
  }

  &__content {

  }
}
