@import './../../mixins';

.cover {
  --cover-copy-color: var(--gray-1);
  --cover-bg-color: var(--gray-0);
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-3);
  background-color: var(--cover-bg-color);
  color: var(--cover-copy-color);
  box-shadow: var(--shadow-3);

  a { color: inherit; }

  &__container {
    min-height: #{"min(56.25vw, 600px)"};
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    > * {
      height: 100%;
    }
    @media screen and (min-width: 576px){ /* SM */ 
      grid-template-columns: 1fr 1.61fr;
      grid-template-rows: none;
    }
    @media screen and (min-width: 768px){ /* MD */ 
      
    }
    @media screen and (min-width: 992px){ /* LG */ }
    @media screen and (min-width: 1024px){ /* ~LG */ }
    @media screen and (min-width: 1025px){ /* CMS-LG */ }
    @media screen and (min-width: 1200px){ /* XL */ }
    @media screen and (min-width: 1400px){ /* XXL */ }
  }
  &__content {
    justify-content: center;
  }
  &__image {
    box-shadow: -0.5rem 0 1.5rem rgba(37, 38, 39, 0.2);
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      height: auto;
      max-width: 680px;
    }
  }
  &__copy {
    height: 100%;
    display: flex;
    justify-content: center;
    // justify-content: space-between;
    padding: 3rem;
    flex-flow: column;

    h1 {
      margin-block: 0.5rem 3rem;
      font-size: clamp(3rem, 4vw, 7rem);
      text-shadow:
        -1px 1px 0 var(--gray-400),
        -2px 2px 0 var(--gray-500),
        -3px 3px 0 var(--gray-600),
        // -4px 4px 0 var(--gray-400),
        // -5px 5px 0 var(--gray-500),
        -6px 6px 1px var(--black-t10),
        -1px 1px 3px var(--black-t30),
        -3px 3px 5px var(--black-t20),
        -5px 5px 10px var(--black-t30),
        -10px 10px 10px var(--black-t20),
        -20px 20px 20px var(--black-t10);
      color: inherit;
    }
    p,h4 {
      max-inline-size: none;
    }
    h4 {
      --accent-width: 4em;
      --accent-gap: 1em;

      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: inherit;
      font-weight: 100;
      font-size: 1em;
      position: relative;
      display: inline;
      &::before, &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: var(--accent-width);
        background-color: var(--cover-copy-color);
      }
      &::before {
        left: calc( (var(--accent-width) + var(--accent-gap)) * -1);
      }
      &::after {
        right: calc( (var(--accent-width) + var(--accent-gap)) * -1);
      }
    }

    p {
      font-size: 1.15em;
      padding-inline: 4em
    }
    @include primary-gradient();
  }
  

  &__headline {

    .sup {
      margin: 0;
    }

    .headline {
      font-size: clamp(7rem, 12vw, 18rem);
      text-shadow:
        -1px 1px 0 var(--gray-100),
        -2px 2px 0 var(--gray-200),
        -3px 3px 0 var(--gray-300),
        -4px 4px 0 var(--gray-400),
        -5px 5px 0 var(--gray-500),
        -6px 6px 1px var(--black-t10),
        -1px 1px 3px var(--black-t30),
        -3px 3px 5px var(--black-t20),
        -5px 5px 10px var(--black-t30),
        -10px 10px 10px var(--black-t20),
        -20px 20px 20px var(--black-t10);
    }
  }


  
}
