@import './../../mixins';

.cover {
  // margin-top: calc(var(--size-12) * -1);
  color: var(--p-foreground);

  a { color: inherit; }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: #{"min( calc(100vh - 185px), 780px)"};
    margin-top: calc(var(--primary-gap)*-1);
    @include dog-ear-clip(var(--primary-gap));
    @include primary-gradient();
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: #{"min(56.25vw, 600px)"};
    padding-block: var(--primary-gap);
    text-align: center;
    flex-flow: column;
  }

  &__copy {
    p {
      max-inline-size: none;
    }
    p:first-of-type {
      font-size: clamp(3rem, 4vw, 7rem);
      text-shadow:
        -1px 1px 0 var(--gray-400),
        -2px 2px 0 var(--gray-500),
        -3px 3px 0 var(--gray-600),
        // -4px 4px 0 var(--gray-400),
        // -5px 5px 0 var(--gray-500),
        -6px 6px 1px var(--black-t10),
        -1px 1px 3px var(--black-t30),
        -3px 3px 5px var(--black-t20),
        -5px 5px 10px var(--black-t30),
        -10px 10px 10px var(--black-t20),
        -20px 20px 20px var(--black-t10);
    }
    p:last-of-type {
      margin-top: 4em;
      max-inline-size: none;
    }
  }
  

  &__headline {

    .sup {
      margin: 0;
    }

    .headline {
      font-size: clamp(7rem, 12vw, 18rem);
      text-shadow:
        -1px 1px 0 var(--gray-100),
        -2px 2px 0 var(--gray-200),
        -3px 3px 0 var(--gray-300),
        -4px 4px 0 var(--gray-400),
        -5px 5px 0 var(--gray-500),
        -6px 6px 1px var(--black-t10),
        -1px 1px 3px var(--black-t30),
        -3px 3px 5px var(--black-t20),
        -5px 5px 10px var(--black-t30),
        -10px 10px 10px var(--black-t20),
        -20px 20px 20px var(--black-t10);
    }
  }

  &__content {

  }
}
