@import './../../mixins';

.hero {
  text-shadow: 3px 5px 10px var(--black-t30);
  @include upper-clip(var(--size-10));
  @include primary-gradient();

  &__container {
    display: flex;
    align-items: center;
    min-height: clamp(120px, 30vh, 260px);
    color: var(--constant-white);
    font-size: 2.2em;

    h1 {
      display: flex;
      flex-direction: column;
      color: inherit;
      font-size: inherit;

      .small {
        font-size: 0.3em;
        text-transform: uppercase;
      }
    }
  }
}
