@import '../../style/mixins';

.band {
  display: flex;
  flex-direction: column;
  gap: var(--component-gap);
  
  &.grid {
    display: grid;
    grid-template-columns: 1fr
  }

  @media screen and (min-width: 576px){ /* SM */ }
  @media screen and (min-width: 768px){ /* MD */ 
    &.grid {
      grid-template-columns: 1fr 1fr
    }
  }
  @media screen and (min-width: 992px){ /* LG */ 
    flex-direction: row;
    &.grid {
      grid-template-columns: 1fr 1fr 1fr
    }
  }
  @media screen and (min-width: 1200px){ /* XL */ }
  @media screen and (min-width: 1400px){ /* XXL */ }
}