article section.new-section-container {
  background-color: var(--background-200);
  min-height: 40rem;
  margin-top: -10rem;
  padding-top: 15rem;

  .container {
    display: flex;
    justify-content: center;
  }
}