article.home {
  // max-height: 100vh;
	// overflow-y: scroll;
  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(300px);
  // scroll-snap-type: y mandatory;

  section {
    // scroll-snap-align: start;
    // height: 100vh;
  }

    h1 { font-size: 8rem; }
    h2 { font-size: 6rem; }
    h3 { font-size: 4rem; }
    p {
      max-width: 72ch;
      font-size: 2rem;
      line-height: 1.8;
    }

}
