@import './../../mixins';

.band {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--size-10);
  margin-block: var(--size-10);

  @media screen and (min-width: 576px){} /* SM */
  @media screen and (min-width: 768px){
    grid-template-columns: repeat(3, 1fr);
  } /* MD */
  @media screen and (min-width: 992px){} /* LG */
  @media screen and (min-width: 1024px){} /* ~LG */
  @media screen and (min-width: 1025px){} /* CMS-LG */
  @media screen and (min-width: 1200px){} /* XL */
  @media screen and (min-width: 1400px){} /* XXL */
}

.card {
  display: flex;
  gap: var(--size-1);
  align-items: center;
  border: 1px solid var(--background);
  border-radius: var(--radius-3);
  background: var(--background);
  flex-basis: var(--size-content-1);
  flex-direction: column;
  box-shadow: var(--shadow-3);
  flex-basis: 100%;

  &.flat {
    box-shadow: none;
  }

  a { text-decoration: none; }

  &__link-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: var(--size-10) var(--size-8);
  }

  &__title {
    margin-bottom: var(--size-4);
    padding-bottom: var(--size-4);
    border-bottom: 1px solid var(--background-300);
  }

  &__top {
    display: flex;
    justify-content: center;
    padding-bottom: var(--size-8);
  }

  .circle {
    display: block;
    width: var(--size-12);
    height: var(--size-12);
    border-radius: 50%;
    background-color: var(--background-300);
  }
}





