@import './../../mixins';

.header {
  display: flex;
  // min-height: clamp(120px, 30vh, 260px);
  min-height: 260px;
  color: var(--p-foreground);
  text-shadow: 3px 5px 10px var(--black-t30);
  align-items: start;
  justify-content: center;
  padding-top: var(--size-8);
  @include upper-clip(var(--size-10));
  @include primary-gradient();

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: flex;
      font-size: var(--font-size-8);
      flex-direction: column;
      color: inherit;

      .small {
        font-size: 0.3em;
        text-transform: uppercase;
      }
    }
  }
}

