@import './../../mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--primary-gap) 0 calc(var(--primary-gap)*2);
  text-shadow: 3px 5px 10px var(--black-t30);
  color: var(--p-foreground);

  &-nav {
    display: none;
    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    h1 {
      display: flex;
      font-size: var(--font-size-8);
      color: inherit;
      flex-direction: column;

      .small {
        font-size: 0.3em;
        text-transform: uppercase;
      }
    }
  }
  @include upper-clip(var(--primary-gap));
  @include primary-gradient();

  @media only screen and (max-width: 768px) {

  }


}

