@import './../../mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--primary-gap) 0 calc(var(--primary-gap)*2);
  text-shadow: 3px 5px 10px var(--black-t30);
  color: var(--constant-white);

  &-nav {
    display: none;
    @media only screen and (min-width: 768px) {
      display: block;
    }
  }

  &__container {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    a {
      color: inherit;
    }

    h1 {
      display: flex;
      font-size: var(--font-size-8);
      color: inherit;
      flex-direction: column;

      .small {
        font-size: 0.3em;
        text-transform: uppercase;
      }
    }
  }
  @include upper-clip(var(--primary-gap));
  @include primary-gradient();

  @media only screen and (max-width: 768px) {

  }


}

.mobile-nav {
  @include dog-ear-clip(var(--primary-gap));
  @include primary-gradient();
  min-height: 100px;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--constant-white);

  a {
    color: inherit;
    text-decoration: none;
    padding-inline: 1em;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

