.projects {  
  position: relative;

  .project-item {

    margin-block: calc(var(--component-gap)*2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--component-gap);

    @media screen and (min-width: 992px){
      flex-direction: row;
      // &:nth-child(even){flex-direction: row-reverse;}
    }

    &__display {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__copy {
      .headline {
        margin-top: 0.5em;
      }
    }

    > div {
      width: 100%;
    }

  }

  .btn {
    display: inline-block;
    margin-top: 0.5em;
  }

}