nav.project-nav {
  display: flex;
  justify-content: end;
  padding-bottom: 2em;
  gap: 1em;
}

.project {

  main {
  
    > img {
      margin-block: 1rem;
    }
  
    .headline {
      margin-bottom: 0;
    }

    .subheadline {
      font-weight: 300;
      text-transform: uppercase;
    }

    .date {
      display: block;
      margin-bottom: 1em;
    }

    .btn {
      display: inline-block;
    }

  }

}