.projects {  
  position: relative;

  .project-item {
    border: none;
    margin-block: var(--component-gap);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--component-gap);
    overflow: hidden;

    @media screen and (min-width: 992px){
      flex-direction: row;
      &:nth-child(even){
        flex-direction: row-reverse;

        .project-item__details {
          padding-left: var(--component-gap);
        }
      }
      &:nth-child(odd){
        .project-item__details {
          padding-right: var(--component-gap);
        }
      }
    }

    &__display {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__details {
      padding-inline: calc(var(--component-gap)*1);
      padding-bottom: calc(var(--component-gap)*1);
    }

    &__copy {
      .headline {
        margin-top: 0;
      }
    }

    > div {
      width: 100%;
    }

  }

  .btn {
    display: inline-block;
    margin-top: 0.5em;
  }

}