html.projects {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.projects {
  position: relative;
}

.project-dots {
  --dot-size: 0.8em;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  
  .project-dot {
    width: var(--dot-size);
    display: block;
    margin: var(--dot-size);
    border: 4px solid var(--headline-color);
    border-radius: var(--dot-size);
    aspect-ratio: 1/1;
    transition: all 200ms ease-in-out;
    &:hover {
      
      transform: scale(1.5);
      background-color: var(--headline-color);
    }
  }
}

.project-item {

  --bg-color-1: hsla(0, 20%, 65%, 0.1);
  --bg-color-2: hsla(0, 20%, 60%, 0.2);
  
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: calc(91px + 2em) 2em 2em 4em;
  background-attachment: fixed;
  
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;

  > div {
    width: 100%;
  }

  &:nth-child(1){
    margin-top: calc((91px + 2rem)*-1);
  }

}

