@import './../../mixins';

.footer {
  display: flex;
  padding: var(--size-9);
  text-decoration: none;
  color: var(--p-foreground);

  &__container {
    display: flex;
    gap: var(--size-12);
    justify-content: flex-end;
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    justify-content: center;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }

  @include primary-gradient();
}