@import './../../mixins';
.footer {
  @include primary-gradient(var(--red-600));
  @include lower-clip(var(--size-10)); // parent element
  padding: var(--size-12);
  margin-top: var(--size-10);
  color: var(--white);
  display: flex;
  text-decoration: none;

  &__nav-items {
    display: flex;
    gap: var(--size-4);
    align-items: center;
    justify-content: center;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
    
    
  }
}