/* This is CSS not SCSS */
@import "open-props/style";
@import "open-props/normalize";

:root {

  --size-000: -.5rem;
  --size-00: -.25rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --size-fluid-1: clamp(.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);
  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;
  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 35ch;
  --size-xxs: 240px;
  --size-xs: 360px;
  --size-sm: 480px;
  --size-md: 768px;
  --size-lg: 1024px;
  --size-xl: 1440px;
  --size-xxl: 1920px;
  --size-relative-000: -.5ch;
  --size-relative-00: -.25ch;
  --size-relative-1: .25ch;
  --size-relative-2: .5ch;
  --size-relative-3: 1ch;
  --size-relative-4: 1.25ch;
  --size-relative-5: 1.5ch;
  --size-relative-6: 1.75ch;
  --size-relative-7: 2ch;
  --size-relative-8: 3ch;
  --size-relative-9: 4ch;
  --size-relative-10: 5ch;
  --size-relative-11: 7.5ch;
  --size-relative-12: 10ch;
  --size-relative-13: 15ch;
  --size-relative-14: 20ch;
  --size-relative-15: 30ch;

  /* Constants */
  --bs-gutter-x: 2rem;
  
  /* fonts */
  /* --body-font: 'Noto Serif JP', serif; */
  --body-font: 'Open Sans', sans-serif;
  --headline-font: 'Oswald', sans-serif;
  --quote-font: 'Amaranth', sans-serif;

  --primary-gap: var(--size-4);
  --component-gap: var(--size-10);

  --constant-white: hsl(210, 17%, 95%);

  --foreground: #333333;
  --p-foreground: var(--gray-1);
  --link-visited: var(--foreground);

  /* default/prefers-color-scheme: light */
  --background: var(--gray-0);
  --background-000: var(--background);
  --background-100: var(--gray-1);
  --background-200: var(--gray-2);
  --background-300: var(--gray-3);

  --background-secondary: var(--background-secondary-000);
  --background-secondary-000: var(--gray-9);
  --background-secondary-100: var(--gray-8);
  --background-secondary-200: var(--gray-7);
  --background-secondary-300: var(--gray-7);

  --headline-color: var(--red-800);
  --accent-rev: var(--red-500);
  --accent: var(--red-600);
  --primary-gradient: var(--primary-gradient-light);

}

/* Dark color scheme - enhanced by users system settings */
@media (prefers-color-scheme: dark) {
  :root {
    --background-000: var(--background);
    --background: hsl(0, 8%, 15%);
    --background-100: hsl(0, 8%, 20%);
    --background-200: hsl(0, 8%, 25%);
    --background-300: hsl(0, 8%, 30%);

    --background-secondary: var(--background-secondary-000);
    --background-secondary-000: var(--gray-3);
    --background-secondary-100: var(--gray-2);
    --background-secondary-200: var(--gray-1);
    --background-secondary-300: var(--gray-0);

    --headline-color: hsl(0, 70%, 50%);
    --accent-rev: var(--red-500);
    --accent: var(--red-800);
    --primary-gradient: var(--primary-gradient-dark);
  }
}

* {
  box-sizing: border-box;
}
