/* This is CSS not SCSS */
@import "open-props/style";
@import "open-props/normalize";

:root {
  /* these have  light/dark mode built in */
  --foreground: var(--text-1);
  --p-foreground: var(--gray-1);
  --background: var(--surface-1);
  --link-visited: var(--foreground);
  /* these have  light/dark mode built in */

  /* default/light color scheme */
  --headline-color: var(--red-800);
  --accent-rev: var(--red-500);
  --accent: var(--red-600);
  --primary-gradient: var(--primary-gradient-light);
}

/* Dark color scheme - enhanced by users system settings */
@media (prefers-color-scheme: dark) {
  :root {
    --headline-color: var(--red-400);
    --accent-rev: var(--red-600);
    --accent: var(--red-800);
    --primary-gradient: var(--primary-gradient-dark);
  } 
}

* {box-sizing: border-box;}

html { font-size: 62.5%; }

html body {
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Gilroy, Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;

}
main {
  min-height: min(100vh, 900px);
}
.container{
  
}
.container-sm {
  max-width: 720px;
  margin-block: var(--font-size-8);
}
h1 {
  color: var(--headline-color);
  font-size: var(--font-size-fluid-3);
}
h1.w-border { 
  border-bottom: 2px solid currentColor;
  max-inline-size: none;
  margin-bottom: var(--font-size-8);
}
h2 {
  font-size: var(--font-size-fluid-2);
  margin-top: var(--font-size-8);
}
h3 {
  font-size: var(--font-size-5);
  margin-top: var(--font-size-5);
}
h4 {
  font-size: var(--font-size-4);
  margin-top: var(--font-size-4);
}
h5,h6  {
  font-size: var(--font-size-3);
  margin-top: var(--font-size-3);
}
p {
  /* max-inline-size: none; */
  font-size: var(--font-size-4);
}
a {
  color: var(--foreground);
}
a:visited {
  color: var(--link-visited);
}
code {
  font-family: var(--font-mono);
}
::selection {
  background-color: var(--accent-rev);
  color: var(--background);
}
