/* This is CSS not SCSS */
@import "open-props/style";
@import "open-props/normalize";

:root {

  /* Constants */
  --body-font: 'Hind Siliguri', sans-serif;;
  --headline-font: 'Oswald', sans-serif;
  --quote-font: 'Caveat', cursive;
  --constant-white: hsl(210, 17%, 95%);



  /* these have  light/dark mode built in */
  --foreground: var(--text-1);
  --p-foreground: var(--gray-1);
  --link-visited: var(--foreground);
  /* these have  light/dark mode built in */

  /* default/light color scheme */

  --background: var(--gray-1);
  --background-secondary: var(--gray-2);
  --headline-color: var(--red-800);
  --accent-rev: var(--red-500);
  --accent: var(--red-600);
  --primary-gradient: var(--primary-gradient-light);

  --primary-gap: var(--size-4);
}

/* Dark color scheme - enhanced by users system settings */
@media (prefers-color-scheme: dark) {
  :root {

    --background: var(--gray-7);
    --background-secondary: var(--gray-8);
    --headline-color: var(--gray-2);
    --accent-rev: var(--red-500);
    --accent: var(--red-800);
    --primary-gradient: var(--primary-gradient-dark);
  } 
}

* {box-sizing: border-box;}

html { font-size: 62.5%; }

body {
  margin: 0;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.6rem;
  background-color: var(--background);
  color: var(--foreground);
}
main {
  min-height: min(100vh, 900px);
}
article.container-sm {
  max-width: 720px;
}
h1 {
  font-family: var(--headline-font);
  font-weight: 500;
  font-size: var(--font-size-fluid-3);
  color: var(--headline-color);
}
h1.w-border {
  margin-top: var(--primary-gap);
  margin-bottom: var(--size-6); 
  border-bottom: 2px solid currentColor;
  max-inline-size: none;
}
h2 {
  margin-top: var(--font-size-8);
  font-family: var(--headline-font);
  font-weight: 500;
  font-size: var(--font-size-fluid-2);
  color: var(--headline-color);
}
h3 {
  margin-top: var(--font-size-5);
  font-family: var(--headline-font);
  font-weight: 500;
  font-size: var(--font-size-5);
  color: var(--headline-color);
}
h4 {
  margin-top: var(--font-size-4);
  font-family: var(--headline-font);
  font-weight: 500;
  font-size: var(--font-size-4);
  color: var(--headline-color);
}
h5,h6  {
  margin-top: var(--font-size-3);
  font-family: var(--headline-font);
  font-weight: 500;
  font-size: var(--font-size-3);
  color: var(--headline-color);
}
p {
  /* max-inline-size: none; */
  font-size: var(--font-size-5);
}
a {
  color: var(--foreground);
}
a:visited {
  color: var(--link-visited);
}
code {
  font-family: var(--font-mono);
}
::selection {
  background-color: var(--accent-rev);
  color: var(--background);
}
.container-sm {
  max-width: 720px;
}


