:root {
  --crn-red: hsl(357, 100%, 50%);
  --crn-red-000: hsl(357, 100%, 96%);
  --crn-red-100: hsl(357, 100%, 90%);
  --crn-red-200: hsl(357, 100%, 80%);
  --crn-red-300: hsl(357, 100%, 70%);
  --crn-red-400: hsl(357, 100%, 60%);
  --crn-red-500: hsl(357, 100%, 50%);
  --crn-red-600: hsl(357, 100%, 40%);
  --crn-red-700: hsl(357, 100%, 30%);
  --crn-red-800: hsl(357, 100%, 20%);
  --crn-red-900: hsl(357, 100%, 10%);

  --crn-green: hsl(140, 100%, 50%);
  --crn-green-100: hsl(140, 100%, 90%);
  --crn-green-200: hsl(140, 100%, 80%);
  --crn-green-300: hsl(140, 100%, 70%);
  --crn-green-400: hsl(140, 100%, 60%);
  --crn-green-500: hsl(140, 100%, 50%);
  --crn-green-600: hsl(140, 100%, 40%);
  --crn-green-700: hsl(140, 100%, 30%);
  --crn-green-800: hsl(140, 100%, 20%);
  --crn-green-900: hsl(140, 100%, 10%);

  --crn-blue: hsl(258, 100%, 50%);
  --crn-blue-000: hsl(258, 100%, 96%);
  --crn-blue-100: hsl(258, 100%, 90%);
  --crn-blue-200: hsl(258, 100%, 80%);
  --crn-blue-300: hsl(258, 100%, 70%);
  --crn-blue-400: hsl(258, 100%, 60%);
  --crn-blue-500: hsl(258, 100%, 50%);
  --crn-blue-600: hsl(258, 100%, 40%);
  --crn-blue-700: hsl(258, 100%, 30%);
  --crn-blue-800: hsl(258, 100%, 20%);
  --crn-blue-900: hsl(258, 100%, 10%);

  --crn-purple: hsl(285, 100%, 50%);
  --crn-purple-000: hsl(285, 100%, 96%);
  --crn-purple-100: hsl(285, 100%, 90%);
  --crn-purple-200: hsl(285, 100%, 80%);
  --crn-purple-300: hsl(285, 100%, 70%);
  --crn-purple-400: hsl(285, 100%, 60%);
  --crn-purple-500: hsl(285, 100%, 50%);
  --crn-purple-600: hsl(285, 100%, 40%);
  --crn-purple-700: hsl(285, 100%, 30%);
  --crn-purple-800: hsl(285, 100%, 20%);
  --crn-purple-900: hsl(285, 100%, 10%);

  --crn-yellow: hsl(55, 100%, 50%);
  --crn-yellow-100: hsl(55, 100%, 90%);
  --crn-yellow-200: hsl(55, 100%, 80%);
  --crn-yellow-300: hsl(55, 100%, 70%);
  --crn-yellow-400: hsl(55, 100%, 60%);
  --crn-yellow-500: hsl(55, 100%, 50%);
  --crn-yellow-600: hsl(55, 100%, 40%);
  --crn-yellow-700: hsl(55, 100%, 30%);
  --crn-yellow-800: hsl(55, 100%, 20%);
  --crn-yellow-900: hsl(55, 100%, 10%);

  --crn-teal: hsl(180, 100%, 50%);
  --crn-teal-100: hsl(180, 100%, 90%);
  --crn-teal-200: hsl(180, 100%, 80%);
  --crn-teal-300: hsl(180, 100%, 70%);
  --crn-teal-400: hsl(180, 100%, 60%);
  --crn-teal-500: hsl(180, 100%, 50%);
  --crn-teal-600: hsl(180, 100%, 40%);
  --crn-teal-700: hsl(180, 100%, 30%);
  --crn-teal-800: hsl(180, 100%, 20%);
  --crn-teal-900: hsl(180, 100%, 10%);

  --crn-orange: hsl(35, 100%, 50%);
  --crn-orange-000: hsl(35, 100%, 96%);
  --crn-orange-100: hsl(35, 100%, 90%);
  --crn-orange-200: hsl(35, 100%, 80%);
  --crn-orange-300: hsl(35, 100%, 70%);
  --crn-orange-400: hsl(35, 100%, 60%);
  --crn-orange-500: hsl(35, 100%, 50%);
  --crn-orange-600: hsl(35, 100%, 40%);
  --crn-orange-700: hsl(35, 100%, 30%);
  --crn-orange-800: hsl(35, 100%, 20%);
  --crn-orange-900: hsl(35, 100%, 10%);

  --crn-gray: hsl(0, 0%, 50%);
  --crn-gray-000: hsl(0, 0%, 96%);
  --crn-gray-100: hsl(0, 0%, 90%);
  --crn-gray-200: hsl(0, 0%, 80%);
  --crn-gray-300: hsl(0, 0%, 70%);
  --crn-gray-400: hsl(0, 0%, 60%);
  --crn-gray-500: hsl(0, 0%, 50%);
  --crn-gray-600: hsl(0, 0%, 40%);
  --crn-gray-700: hsl(0, 0%, 30%);
  --crn-gray-800: hsl(0, 0%, 20%);
  --crn-gray-900: hsl(0, 0%, 10%);

  --crn-primary: var(--crn-red-700);

  --crn-white: hsl(0, 0%, 100%);


}
