@import './../../mixins';

.nav {

  --nav-height: 16rem;
  // eslint-disable-next-line
  display: flex;
  align-items: center;
  height: var(--nav-height);
  // eslint-disable-next-line
  justify-content: end;
  color: var(--p-foregroun);
  .nav-items {
    display: flex;
    overflow: hidden;
    border-radius: 2rem;
    a {
      display: block;
      position: relative;
      color: inherit;
      text-decoration: none;
      padding: 2rem;
    }
  }
  
  .hamburger {
    padding: 2rem;
    margin-right: 3rem;
    border-radius: 2rem;
    &:hover {
      cursor: pointer;
    }
    .wrapper {
      display: block;
      position: relative;
      width: 4rem;
      height: 4rem;
      z-index: 2;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        background-image: radial-gradient(var(--accent) 8%, transparent 60%);
        opacity: 0.5;
        transform: translate(-50%, -50%);
        width: 220%;
        height: 220%;
        z-index: -1;
      }
    }
    .bars {
      --height: 0.4rem;
      position: absolute;
      background-color: var(--p-foreground);
      width: 100%;
      height: var(--height);
      border-radius: .2rem;
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2),
      &:nth-child(3){
        top: calc(var(--height) * 4);
      }
      &:nth-child(4){
        top: calc(var(--height) * 8);
      }
    }
  }
}